server:
  port: 8080

spring:
  profiles:
    active: dev
  datasource:
    username: root
    password: 1234
    url: jdbc:mysql://localhost:3306/parse_xml?useUnicode=true&characterEncoding=utf-8&useSSL=true&serverTimezone=UTC
    driver-class-name: com.mysql.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapping/*Mapper.xml
  type-aliases-package: com.example.entity

logging:
  level:
    com:
      example:
        mapper : debug